{% extends _base.html %}

{% block title %}{{collectionname}}{% end %}

{% block contents %}

<div id="games"></div>

<script type="text/jsx">

var GameTable = React.createClass({
    getInitialState: function() {
        return {data: {games: []}};
    },
    componentDidMount: function() {
        $.ajax({
            url: this.props.url,
            dataType: 'json',
            cache: false,
            success: function(data) {
                this.setState({data: data});
            }.bind(this),
            error: function(xhr, status, err) {
                console.error(this.props.url, status, err.toString());
            }.bind(this)
        });
    },
    render: function() {
        var gameRows = this.state.data.games.map(function (g) {
            return (
                <tr key={g.name}><td>{g.name}</td></tr>
            );
        });
        return (
            <table className="table">
                <tbody>
                    <tr><th>Game</th></tr>
                    {gameRows}
                </tbody>
            </table>
        );
    }
});

React.render(
  <GameTable url="{{ reverse_url("api_collection", collectionname) }}" />,
  document.getElementById('games')
);
</script>

{% end %}
