{% extends _base.html %}

{% block title %}Slickbird{% end %}

{% block grid %}

<div class="row">

    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active">
                <a href="#add"  aria-controls="add" role="pill" data-toggle="pill">Add</a>
            </li>
            <li role="presentation">
                <a href="#list" aria-controls="add" role="pill" data-toggle="pill">List</a>
            </li>
        </ul>
    </div>

    <div class="col-md-8">

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="add">
                <div class="panel panel-default">
                    <div class="panel-heading">Scan a directory</div>
                    <div class="panel-body">
                        <form method="post">
                            <div class="form-group">
                                <label for="name">Directory</label>
                                <input type="text" class="form-control" id="directory" name="directory" placeholder="/">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                            {% raw xsrf_form_html() %}
                        </form>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="list">
                <h2>Scanned files</h2>
                <div id="scanner"></div>
                <script type="text/jsx;harmony=true" src="{{reverse_url("jsx", "scanner.jsx")}}"></script>
            </div>

        </div>
    </div>
</div>
{% end %}
